<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jonathan Bell <jonathanbell.ca@gmail.com>">

    <title>React Strava Weekly Graphs</title>
</head>

<body>

  <p>Welcome to the <a href="https://github.com/jonathanbell/react-strava-weekly-graphs">React Strava Weekly Graphs</a> Backend</p>

</body>
</html>
